<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
	<title>计算属性</title>
</head>
<body>
	<div id="app">
		firstName: <input type="text" v-model="firstName" />
		lastName: <input type="text" v-model="lastName" /><br>
		fullName: <input type="text" v-bind:value="fullName" readonly="readonly" /><br>
		fullName: <p>{{fullName}}</p>

	</div>
	
</body>
<script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
<script src="./computed.js" ></script>
</html>